    //    footer 

footer{
    position: relative;
    background-color: $hover-bg;
    color:$gray-text;
    padding-top: 0;
    .footer-glow{
        height: 2px;
        width: 100%;
        background-color: $secondary-color;
        box-shadow: 0 0 20px $secondary-color, 0 0 30px $secondary-color;
        margin-bottom: 0;
        transition: opacity 0.6s ease;
        opacity:1;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }    
    .container{
        position: relative;
        z-index: 2;
    }
}