// // assets/styles/style.scss
$primary-color: #5CFFF7; 
$secondary-color: #FF00C0;
$dark-bg: #212121;
$light-text: #fff;
$gray-text: #F0F0F0;
$hover-bg: #001E29;


@import "portfolio";
@import "cv";
@import "contatti";
@import "footer";

html{
    height: 100%;
}

body{
    font-family:'Trebuchet MS', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif ;
    margin: 0;
    background-color: $hover-bg;
    color:$gray-text;
}

#home{
    background-color: $hover-bg;
    color:$gray-text;
}

a{
    color: $gray-text;
}

//mobile-first//

.navbar {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
    z-index: 1050;
    background-color: $hover-bg;
    position: relative;

       //logo//

    .navbar-brand{
        font-size: 25px;
        padding: 10px 20px;
        color: $primary-color; 
        &:hover{
            color: $primary-color;
            box-shadow: 0 0 10px $primary-color, 0 0 15px $primary-color;
            border-radius: 4px;            
        } 

    }
    .menu-btn{
        display:none;   
    }
    .menu-icon{
        padding: 28px 20px;
        position: relative;
        float: right;
        cursor: pointer;
        z-index: 3;

        .nav-icon{
            background-color: $primary-color; 
            display: block;
            width: 20px;
            height: 2px;
            position: relative; 
            transition: background-color 0.3s ease-out;

            &::before,
            &::after{
                background-color: $primary-color; 
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                left:0;
                transition: all .3s ease-out; 
            }
            &::before{
                top: 5px;
            }
            &::after{
                top: -5px;
            }
        }
    }


        //menu a scomparsa//

    .menu{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden; 
        background-color: $hover-bg;
        clear: both;
        max-height: 0; 
        transition: max-height .3s ease-out;      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li{
            width: 100%;
            text-align: center;
            a{
                display: block;
                padding: 20px;
                text-decoration: none;
                color: $primary-color;

                &:hover{
                    background-color: rgba(255, 0, 191, 0.450);
                    box-shadow: 0 0 10px $secondary-color, 0 0 15px $secondary-color;
                    border-radius: 4px;
                }
            }
        }
    }


     // Quando la checkbox è spuntata, cioè il menu è aperto //

    .menu-btn:checked ~ .menu {
        max-height: 250px;
    }

     //animazione in X dell'hambuerger//

    .menu-btn:checked ~ .menu-icon .nav-icon {
        background-color: transparent;
    }
    .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(45deg);
        top: 0;
    }
    .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(-45deg);
        top: 0;
    }

    //transiction to desktop//

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items:center;

        .menu-btn,
        .menu-icon{
            display: none;
        }
        
        .menu{
            position: static;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            max-height: none; 
            background-color: transparent;
            
            li{
                float: none;
                margin-left: 20px;
                text-align: left;
                width: auto;

                a{
                    padding: 20px 0;
                    color: $primary-color; 

                    &:hover{
                        padding: 10px 20px;
                        background-color: transparent; 
                        color: $secondary-color;
                        box-shadow: 0 0 10px $secondary-color, 0 0 15px $secondary-color;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

    .navbar-glow {
        height: 2px;
        width: 100%;
        background-color: $primary-color;
        box-shadow: 0 0 20px #00f7ff, 0 0 30px #00f7ff;
        margin-top: 0;
        transition: opacity 0.6s ease;
        opacity: 1;
        z-index: 1; 
    }
    .menu-wrapper {
        .menu-btn:checked ~ .navbar-glow {
            opacity: 0;
        }
   }
}

//about 

.main-content{
    padding-top:60px;
    h3{
        color:$primary-color;
    }
}
.about,
.skill-content h3{
    color:$primary-color;
}
